/* body {background-color: #436054;} */
body {
    background-image: url("homepage-bkg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

nav {
    padding: 16px;
    text-align: center;
    font-size: 30px;
    word-spacing: 20px;
    font-family: Copperplate, fantasy;
}

nav a {
    color: #c27c6f;
    text-decoration: none;
}

.homepage-intro h1 {
    margin-top: 230px;
    color:#c27c6f;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.homepage-intro h2 {
    color:#ffffff; 
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    margin-bottom: 40px;
}
.homepage-about h1 {
    color:#eba27d;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
.homepage-about p {
    color:#ffffff;
    font-size: 17px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
}